<div class="container">
    <p>Templates</p>
    <div class="card" style="width: 18rem;">
        <img src="{{img}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cv</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="btn" style="background-color: rgb(104, 82, 82); color:rgb(214, 195, 195);" routerLink="/cv">Go to details</a>
        </div>
    </div>
</div>