<div class="container">
    <nav id="navbar" class="navbar">
        <ul for="nav">
            <a class="navbar-brand" href="">{{nav[0].name}}</a>


            <li><a class="nav-link" routerLink="create-cv">Create Cv</a></li>
            <li><a class="nav-link" href="/template">Templates</a></li>
            <!-- <li><a class="nav-link" href="/resume">Resume</a></li>
            <li><a class="nav-link" href="#services">Services</a></li>
            <li><a class="nav-link" href="#portfolio">Portfolio</a></li> -->
            <li><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <div class="d-flex justify-content-center order-0 order-lg-1">
            <a class="btn mx-2 py-2 px-4 rounded-1 bg-transparent" routerLink="register">Sign Up</a
          >
          <a
            class="btn mx-2 py-2 px-4 rounded-1 shadow" style="background-color: rgb(104, 82, 82);"
            routerLink="login"
            >Log in</a
          >
        </div>
    </nav>
</div>